<app-loading *ngIf="loading"></app-loading>
<pre></pre>
<pre></pre>
<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col">
    <img
      [src]="artista.images | noimage"
      alt="img"
      class="img-thumbnail img-circle"
    />
  </div>
  <div class="col">
    <h3>{{ artista.name }}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">
        Ir a la pagina del artista
      </a>
    </p>
  </div>
  <div class="col text-rigth">
    <button routerLink="/search" class="btn btn-outline-danger">
      Regresar
    </button>
  </div>
</div>

<pre></pre>
<pre></pre>
<div class="row">
  <div class="col">
    <table class="table w-auto">
      <thead>
        <tr>
          <th style="color:azure">Foto</th>
          <th style="color:azure">Album</th>
          <th style="color:azure">Cancion</th>
          <th style="color:azure">Vista Previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of topTracks">
          <td>
            <img
              [src]="track.album.images | noimage"
              alt="img"
              class="img-thumb"
            />
          </td>
          <td style="color:azure">{{ track.album.name }}</td>
          <td style="color:azure">{{ track.name }}</td>
          <td>
            <!--<audio [src]="track.preview_url" controls></audio> -->
            <iframe
              [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='"
              width="300"
              height="80"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
